# IntelliJ
.idea/
*.iws

# Angular
**/node_modules/
**/dist/
**/.angular/

# Spring Boot
target/
**/target/
.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Help
HELP.md